@import 'variables';

// Container
// *------------------------------------------------*
#main-outlet {
  margin-top: 42px;
  margin-bottom: 50px;
  border-radius: 10px;
  background: $color-cream;
  width: 75%;
  max-width: 1030px;
  padding: 3em 3em 5%;
  padding-bottom: 5% !important;
  box-shadow: 0 1px 8px rgba(0,0,0,0.18);
}

// Navigation Bar
// *------------------------------------------------*
.nav-pills li a {  
  &.active {
    border-bottom: 2px solid $color-red;
    border-radius: $radius-2;
    background: none;
    color: $color-black;
  }
  &:hover {
    border-radius: $radius-2;
    background-color: $color-red;
    color: $color-black;
  }
}

.list-controls .combo-box .combo-box-header {
  background: transparent;
  color: $color-black;
  border: 2px solid $color-orange;
  border-radius: $radius-4;
}

// Topic List
// *------------------------------------------------*
table {
  tbody {
    border-top: 3px solid $color-brown;
    tr {
      border-bottom: 1px solid $color-yellow;
    }
  }
}

// Topic Page
// *------------------------------------------------*
.topic-body, .topic-avatar {
  border-top: 3px solid $color-brown;
}

.timeline-container .topic-timeline { 
  .timeline-scrollarea {
    border-color: $color-orange;
  }
  .timeline-handle {
    background-color: $color-red;
  }
}

// Buttons
// *------------------------------------------------*
.btn {
  border-radius: $radius-4;
  background: $color-orange;
  color: $color-black;
  .discourse-no-touch & {
    &:hover, 
    &.btn-hover {
      color: $color-black;
      background: $color-pale-orange;
      .d-icon {
        color: $color-black;
      }
    }
  }
  &:hover, 
  &.btn-hover {
    color: $color-black;
    background: $color-pale-orange;
    .d-icon {
      color: $color-black;
    }
  }
  &:active, 
  &.btn-active {
    background-image: none;
    background-color: $color-pale-orange;
    color: $color-black;
    .d-icon {
      color: $color-black;
    }
  } 
}

.btn-danger {
  background: $danger;
  .discourse-no-touch & {
    &:hover, 
    &.btn-hover {
     background: $danger-hover;    
    }
  }
}

.btn-primary {
  background: $color-violet;
  color: $color-white;
  .d-icon {
    color: $color-white;
  }
}